<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Ruby on Rails スケジュール管理アプリ</h1>
    </header>
    
    <%= yield %>
    
    <footer>
          <%# Dateクラスにcurrentメソッド使って､現在日時取得｡to_s(:date_jp)でフォーマット指定 %>
          <!-- &nbsp;はhtmlの特殊文字コードで半角スペースを-->
      <h1>現在の日付 : <%= Date.current.to_s(:date_jp) %> &nbsp;&nbsp;&nbsp;
          
          <%# @postsが存在する｡つまり､yieldに/posts/index.html.erb が代入されているときのみ%>
          <%if @posts %>
            <%# @postsにcountメソッドを使って､レコード数を取得し､表示 %>
            スケジュール合計 : <%= @posts.count %> 
          <% end %>
      </h1>
      
    </footer>
  </body>
</html>
